PADDLE_ENVIRONMENT=sandbox
PADDLE_API_KEY=pdl_sdbx_apikey_xxxxxxxxxxxxxxxxx
PADDLE_WEBHOOK_SECRET=pdl_ntfset_xxxxxxxxxxxxxxxxx
PADDLE_ANNUAL_PRICE_ID=pri_01kz5a15t5argrdv41pwsad5ds
PADDLE_LIFETIME_PRICE_ID=pri_01kz5a25qbhx2jy59vesj0tc3e
PADDLE_ANNUAL_PRODUCT_ID=pro_01kz59zr39h3nqm3k9c8rtgnrc
PADDLE_LIFETIME_PRODUCT_ID=pro_01kz5a17bxvrwg6yscdqj5tgx7
